/* nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav li {
    margin: 0;
    padding: 1rem;
    cursor: pointer;
  }
  
  nav li:hover,
  nav li.active {
    background-color: #666;
  }
  
  section {
    display: none;
    padding: 2rem;
  }
  
  section.active {
    display: block;
  }
   */